<ng-container #name *ngFor="let menu of menus; let key = index">
  <li *ngIf="menu.url !== ''" nz-menu-item [nzSelected]="menu.url === firstUrl" (click)="navigateTo(menu.url)">
    <span title>
      <i nz-icon type="user"></i><span class="nav-text">{{menu.title}}</span>
    </span>
  </li>
  <li *ngIf="menu.url === ''" nz-submenu [nzOpen]="key === 0">
    <span title>
      <i nz-icon type="user"></i><span class="nav-text">{{menu.title}}</span>
    </span>
    <ul >
      <app-side-menu-item [menus]="menu.subMenu" [firstUrl]="firstUrl"></app-side-menu-item>
      <!-- <ng-container #name *ngFor="let subMenu of menu.subMenu">
        <li nz-menu-item [nzSelected]="subMenu.url === isFirstUrl" (click)="navigateTo(subMenu.url)">
          <span title>
            <i nz-icon type="user"></i><span class="nav-text">{{subMenu.title}}</span>
          </span>
        </li>
      </ng-container> -->
    </ul>
  </li>
</ng-container>